@import "../../variables/variables.scss";

.profile-wrapper {
  display: flex;

  .name-wrapper {
    width: 250px;
    font-family: $mainFontFamily;
    color: $whiteFontColor;
    p {
      margin: 3px;
    }
  }
  svg {
    width: 30px;
    margin-right: 10px;
  }
}
