//bckColor
$darkBlackColor: #222222;
$lightBlackColor: #2a2a2a;
$lighterBlackColor: #353535;

//fontColor
$whiteFontColor: #c7c7c7;
$blackFontColor: #636363;

//borderColor
$borderColor: rgba(181, 176, 176, 0.5);

$headerFontSize: 17px;
$mainFontSize: 14px;
$mainFontFamily: "Roboto", sans-serif;

//chartColor
$yellowColor: #fbcf71;
$blueColor: #1f7bb6;
$greenColor: #01aaaa;

//dashBoardColor
$lighterGreyColor: #ececec;
$darkerGreyColor: #d8d8d8;
$heartGreyColor: #878686;
