.App {
  display: flex;
  .chart-wrapper {
    display: flex;
  }
  .listUsers-wrapper {
    display: flex;
  }
}

@media only screen and (max-width: 360px) {
  .chart-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  .listUsers-wrapper {
    display: flex;
    flex-direction: column;
  }
}
