@import "./../../variables/variables.scss";

.sidebarWrapper {
  width: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $whiteFontColor;
  background: $darkBlackColor;
  h1 {
    width: 94%;
    margin: 3px;
    margin-top: 0;
    border: 2px solid red;
    text-align: center;
  }
  svg {
    width: 20px;
    margin: 6px;
    fill: $whiteFontColor;
  }
  p {
    font-size: $mainFontSize;
    font-family: $mainFontFamily;
  }
}

@media only screen and (max-width: 360px) {
  .sidebarWrapper {
    display: none;
  }
}
