@import "./../../variables/variables.scss";

.dashboard-info {
  width: 100%;
  display: flex;
  font-size: $mainFontSize;
  font-family: $mainFontFamily;
  justify-content: space-between;
  background-color: $lighterGreyColor;
  font-weight: 600;
  color: $heartGreyColor;

  div {
    width: 20%;
    display: flex;
    justify-content: space-around;
    background-color: $darkerGreyColor;
    font-weight: 600;
    svg {
      width: 15px;
      fill: $heartGreyColor;
    }
  }
}

.dashboard-wrapper {
  display: flex;
  svg {
    width: 15px;
  }
}

@media only screen and (max-width: 360px) {
  .dashboard-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
}
